.border-b {
  border-bottom: 2px solid ;
}

.flex {

  &-jsp {
    justify-content: space-between;
  }

  &-header {

    display: flex;
    position: relative;
    width: 100%;

    &--logo {
      font-size: 2.5rem;
      font-weight: 500;
    }

    &__nav--toggle {
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
    }

    &__nav--toggle-label span,
    &__nav--toggle-label span::before,
    &__nav--toggle-label span::after {
      display: block;
      background-color: var(--text-color);
      height: 5px;
      width: 1.5em;
      position: relative;
    }

    &__nav--toggle-label span::before,
    &__nav--toggle-label span::after {
      content: '';
      position: absolute;
    }

    &__nav--toggle-label span::before {
      top: 15px;
    }

    &__nav--toggle-label span::after {
      top: 30px;
    }

    &__nav {
      position: absolute;
      text-align: left;
      left: 0;
      top: 100%;
      width: 100%;
      transform: scale(1, 0);
      transform-origin: left top;
      transition: transform 500ms ease-in-out;

      &--ul {
        
        &-li {
          margin-bottom: 1em;
          margin-left: 1em;

          &-link {
            opacity: 0;
            transition: opacity 150ms ease-in-out;
          }

          &-link:hover {
            font-size: 1.2rem;
          }


        }

      }
    }

    &__nav--toggle:checked ~ &__nav  {
      transform: scale(1, 1);
    }
    &__nav--toggle:checked ~ &__nav &__nav--ul-li-link  {
      opacity: 1;
      transition: opacity 250ms ease-in-out 250ms;
    }

    /* Tablet */
    @media(min-width: 650px) {
        flex-direction: column;
        align-items: center;

        &__nav {
          position: relative;
          text-align: left;
          transition: none;
          transform: scale(1,1);
          top: initial;
          left: initial;

          &--ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-li {
              margin: 0 auto;

              &-link {
                opacity: 1;
                position: relative;
              }

              &-link::before {
                content: '';
                display: block;
                height: 5px;
                background-color: var(--purple);
                position: absolute;
                top: -.9em;
                left: 0;
                right: 0;
                transform: scale(0, 1);
                transition: transform 250ms ease-in-out;
              }

              &-link:hover::before {
                transform: scale(1, 1);
              }

            }
          }
        }

        &__nav--toggle-label {
          display: none;     
        }

    }

    /* Desktop */
    @media(min-width: 1000px) {
      flex-direction: row;        

      &--logo {
        min-width: fit-content;
      }

      &__nav {
        max-width: 770px;
      }

    
    }

  }
}


