@use '../util' as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: u.$font-league-spartan;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  padding: .5em 1em;
  margin: auto;
  max-width: 1440px;
  width: 95%;
}